/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2020, 2:01:52 PM
    Author     : Giovanni
*/
:root {
    --mainColor: #FFCD20;
    --hoverColor: #FFDE6C;    
    --bgColor: rgb(32, 32, 32);
    --bgColorLighter: rgb(64, 64, 64);   
}

* {
  margin: 0;
}

html {
    overflow: hidden;
    height: 100%;
}

header {
  display: table;

  position: relative;
}

.header {
  background-color: var(--mainColor);
  color: white;
  
  align-items: center;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  
  font-size: 30px;
  height: 150px;
  position: relative;    
}

.logo{
    padding-right: inherit;   
    height: 140px;
    position: absolute;
    right: 0px;
}

.table {
    width: 100%;
    display: table-row;
}

.barra {
    padding-left: 50px;  
    font-size: 125%;
    color: var(--mainColor);
    align-items: center;
    display: flex;
  
    background-color: white;
    width: 100%;
    height: 40px;
}

.info {
    position: absolute;
    right: 0px;
    display: flex;
    padding-right: 85px;
}

.sair {
    text-decoration: none;
    color: var(--bgColor);
}

body {
  font-family: Helvetica, Tahoma;
  overflow-x: hidden; 
  box-sizing: border-box; 
  text-align: justify;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bgColor);
}

.hide { display: none; }
.show { display: block; }

/* Article */
article {
    width: 100%;
      
    background: url(img/bg.png);
    background-repeat: repeat;
    background-size: 25%;   

    margin: auto; 
    color: black; 
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.icone-ingrediente {
    width: 100px;
    padding-right: 20px;
}

.icone-ingrediente.pao {
    content:url(img/pao.png);
}

.icone-ingrediente.carne {
    content:url(img/carne.png);
}

.icone-ingrediente.salada {
    content:url(img/salada.png);
}

.icone-ingrediente.molho {
    content:url(img/molho.png);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: auto;
}

.center-bottom {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;    
    margin-bottom: 25px;    
    position: absolute;
    bottom: 0;    
}

.center2 {
    justify-content: center;
    align-items: center; 
    width: auto;
}

.div-sel-ingrediente {
    display: block;
    align-items: center;
    justify-content: center;
}

.sel-ingrediente {
    min-width: 150px;
}

.form {
  padding-right: 10px;    
}

.formspace {
    line-height: 175%;
}

.painel-bg {
    background-color: white;
    cursor: default;
    color: var(--bgColor);
 
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 3px;     
}

.painel-bg.geral {  
    padding: 60px 60px;
}

.painel-bg.pedido {  
    padding: 30px 30px;
}


.painel-bg.mensagem {  
    margin-top: 50px;
    padding: 20px 0px;
}

.button {
    width: 75px;
    height: 25px;   
    border-radius: 3px;
    margin-top: 8px;
    background-color: lightgray;
    cursor: pointer;
    border: none;
    color: black;

    font-size: 90%;
}

.button:hover{
    color: #D4D9D7;
    background-color: #2F3030;
}

/* Grid */
.grid-container {
    display: grid;
    grid-gap: 20px;

    grid-template-columns: repeat(auto-fit, 275px);
}

.grid-container.grande {
    max-width: 1148px;
}

.grid-container.pequeno {
    max-width: 600px;
}

.grid {
    width: 275px;
    height: 200px;
    border-radius: 3px;   
}


.grid-ingredientes {
    border-radius: 3px;   
    
    background-color: white;
    cursor: default;
    color: var(--bgColor);
 
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    position: relative;
    padding: 25px 0px;
}

/* Grid */
.grid.menu {
    background-color: var(--mainColor);
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 30px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    transition: width 0.25s ease, height 0.25s ease, background-color 0.25s ease;
    transition-delay: 0.0s;
}

.grid.menu:hover {
    width: 295px;
    height: 220px;  
    background-color: var(--hoverColor);
}

.grid.pedido {
    background-color: white;
    cursor: default;
    color: var(--bgColor);
 
    font-size: 25px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    position: relative;
}

.grid.ativo {
    background-color: var(--hoverColor);
}

.pedidocontainer {
    padding: 10px 15px;   
}

.ingredientes {
    font-size: 20px;
    margin-top: 13px;
}


.total {   
    margin-bottom: 15px;    
    position: absolute;
    bottom: 0;     
}

.botao { 
    border-radius: 3px;
    padding: 8px;
    background-color: lightgray;
    cursor: pointer;
    border: none;
    font-size: 100%;
    
    color: var(--bgColor);
}

.botao.aceitar {
    background-color: var(--mainColor);
}

.botao.aceitar:hover{
    background-color: var(--hoverColor);
}

.ladoalado {
    display: flex;
}

.espacobotao {
  padding: 0 8px;
}

/* Footer */
footer {
  position: relative;
  padding: 25px;
  font-weight: bold;
  text-align: center;
  color: var(--bgColor);
  background-color: white;
  display: flex;
}

footer ul {
  list-style: none;
  width: 50%;
}

footer li {
  /*color: gray;*/
  line-height: 1;
}

footer li a {
  /*color: gray;*/
  text-decoration: none;
}

/* Menu */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
}

nav li {
    float: left;   
}

nav li a, nav li p {
  display: block;
  color: black;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  height: 40px;
  align-items: center;
  display: flex;
  
  transition: box-shadow 0.2s ease;
  transition-delay: 0.0s;  
}

nav li a:hover {
  box-shadow: inset 0 -5px 0 var(--mainColor);
}

.active {
  color: white;
  background-color: var(--mainColor);
}

.form-pesquisa-rel {
    padding-top: 30px;
}

.form-pesq-title {
    margin-bottom: 5%;
}

.form-pesq {
    background-color: white;
    cursor: default;
    color: var(--bgColor);
 
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
    border-radius: 3px;
    padding: 10px 30px;
}

.input-hora {
    margin-left:  10px;
    width: 70px;
}

.input-data {
    width: 125px;
}

.butao-pesq {
    margin-top: 10px;
}

.mensagem {
    margin-top: 50px;    
}

.tabela {
    width:400px;
    margin-top: 10px; 
}